<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/multi_uav_fusion.launch">
	</include>
	

	<!-- Nodes to control the particles -->
	<!-- Leader particle node-->
	
	<node pkg="offboard_py" type="particleUpdatedLeader.py" name ="particleUpdatedLeader" required="true" output="screen">
	</node>
	
	<!-- Nodes to arm and takeoff -->
	<node pkg="offboard_py" type="takeoff_node.py" name="takeoff_node_py0" required="true" output="screen"> 
		<param name = "uav_id" value = "uav0"/>
	</node>

	<!-- Other particles nodes: as many as the number of UAVs -->
	<node pkg="offboard_py" type="particleUpdated.py" name ="particleUpdated0" required="true" output="screen">
		<param name = "uav_id" value = "uav0"/>
	</node>


	<!-- Nodes to define target position based on computer vision algorithm -->


</launch>
